/* 5.8 Forms
----------------------------------------------------------*/

.form-group {
	margin-bottom: 25px;
}

.form-control {
	@include border-radius(0);
	@include box-shadow(none);
	background-color: transparent;
	font-size: 18px;
	padding: 8px 0px;
	height: 36px;
	border: none;
	color: inherit;
	border-bottom: 2px solid $color-line-dark;
	margin-bottom: 3px;
	@include appearance(none);

	@include input-placeholder {
		font-family: $font-primary;
		@if $font-sans-serif == false {
			font-style: italic;
		}
		color: inherit;
		@include opacity(0.5);
	}

	&:focus, &:active {
		@include box-shadow(none);
		border-bottom: 2px solid $color-primary;
	}

	&.input-lg {
		font-size: 16px;
		font-weight: 500;
	}

	&.error { border-color: $color-red !important; }
}

.dark .form-control {
	border-color: rgba($color-white,0.2);

	&:focus, &:active {
		border-color: $color-white;
	}
}

textarea.form-control {
	position: relative;
	top: -10px;
	line-height: 55px;
	font-size: 20px;
	border: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE1LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IldhcnN0d2FfMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiCgkgd2lkdGg9IjczNXB4IiBoZWlnaHQ9IjExMHB4IiB2aWV3Qm94PSIwIDAuNSA3MzUgMTEwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMC41IDczNSAxMTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxyZWN0IHk9IjU0LjUiIGZpbGw9IiMwMDAwMDAiIGZpbGwtb3BhY2l0eT0iMC4xIiB3aWR0aD0iNzM1IiBoZWlnaHQ9IjIiLz4KPC9nPgo8Zz4KCTxyZWN0IHk9IjEwOC41IiBmaWxsPSIjMDAwMDAwIiBmaWxsLW9wYWNpdHk9IjAuMSIgd2lkdGg9IjczNSIgaGVpZ2h0PSIyIi8+CjwvZz4KPC9zdmc+);
	background-attachment: local;

    &:focus, &:active {
    	border: none;
    }
}

.dark textarea.form-control {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE1LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IldhcnN0d2FfMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiCgkgd2lkdGg9IjczNXB4IiBoZWlnaHQ9IjExMHB4IiB2aWV3Qm94PSIwIDAuNSA3MzUgMTEwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMC41IDczNSAxMTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxyZWN0IHk9IjU0LjUiIGZpbGw9IiNGRkZGRkYiIGZpbGwtb3BhY2l0eT0iMC4yIiB3aWR0aD0iNzM1IiBoZWlnaHQ9IjIiLz4KPC9nPgo8Zz4KCTxyZWN0IHk9IjEwOC41IiBmaWxsPSIjRkZGRkZGIiBmaWxsLW9wYWNpdHk9IjAuMiIgd2lkdGg9IjczNSIgaGVpZ2h0PSIyIi8+CjwvZz4KPC9zdmc+);
}