/* Icon Boxes
----------------------------------------------------------*/

.icon-box {
	margin-bottom: 40px;

	&.icon-box-1 {
		.icon {
			margin-bottom: 16px;
		}
	}

	&.icon-box-2 {

		.icon {
			float: left;

			&.icon-sm + .icon-box-content {
				padding-left: 55px;
			}
		}
		.icon-box-content {
			padding-left: 75px;
		}
	}

	&.icon-box-3 {

		> img {
			width: 100%;
		}
		.icon-box-content {
			padding: 30px;
		}
	}

}
